.container{
  margin: auto;
  width: 760px;
}

*{
  font-size: 1.15em;
}

#monthYear{
  margin: auto; 
  text-align: center;
}

td{
  padding: 1em;
}

#calendarHeader{
  color: white; 
  background: black;
  padding: 1rem;
  font-family: 'Playfair Display', serif;
}